{{page-title @model.name}}

<header>
  <h1>{{@model.name}} Standup Helper</h1>
</header>

{{#if @model.people}}
  <ul class="people">
    {{#each this.sortedPeople as |person|}}
      <li class={{if person.completed "completed"}}>
        <input class="completed-checkbox" type="checkbox" checked={{person.completed}} {{on "click" (fn this.toggleCompleted person.uuid)}}/>
        <h5>{{person.name}}</h5>
        <button type="button" {{action "deletePerson" person}}>Delete</button>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p class="empty-list">There are no people yet, use the button below to add a person</p>
{{/if}}

<footer>
  <button {{on "click" this.resetPeople}}>Reset List</button>
  <LinkTo @route="group.show.person.new" class="button">Add Person</LinkTo>
</footer>

{{outlet}}
