{{page-title "New"}}

<form class="single-line" onsubmit={{action 'savePerson' preventDefault=true}}>
  <label>
    Name:
    <Input @value={{this.name}} />
  </label>

  <div class="actions">
    <LinkTo @route="group.show" class="button">Cancel</LinkTo>
    <button type="submit" disabled={{this.hasNoName}}>Save</button>
  </div>
</form>

{{outlet}}
